<ul class="navbar">
    <li>
        Home
    </li>
    <li>
        <LinkTo @route="product">Product</LinkTo>
    </li>

    <li>
        <LinkTo @route="chat">chat room</LinkTo>
    </li>
</ul>
{{outlet}}
