
<Image id="images" @title="My Image" @source="1.jpg" @size={{calculatesize @source}}/>
    <input class="inputArea" type="text" value="Enter text here!"/>
    <span>
        <input class="inputBtn" type="button" value="Click Me!"/>
    </span>