<form class="chatForm">
    <section>
        <input id="input-area" type="text" />
    </section>
    <sectio>
        <input type="button" value="submit"/>
    </sectio>
</form>
<aside id="peopleList">
    <People @people={{array
        'tom'
        'jake'
        'lucy'}}>
        <ul>
            {{#each @people as |person|}}
            <li>{{person}}</li>
            {{/each}}
        </ul>
    </People>
</aside>
