<div class="product">
    <section>
    <Product::Image class="product" @source="1.jpg"/>
    </section>

    <section style="margin-top: 20px;">
    <Product::Map />
    </section>

    <span>This is the product component itself !</span>
</div>
